Source: callflow
Section: net
Priority: extra
Maintainer: Arnaud Morin <arnaud.morin@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0

Package: callflow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gawk, sun-java5-jre|sun-java6-jre, tshark
Description: Callflow sequence diagram generator
 The callflow sequence diagram generator is a collection of awk and shell scripts that will take a packet capture file that can be read by wireshark and produce a time sequence diagram. This is useful to view and debug SIP callflows or other network traffic.
